/*.col-md-3, .col-md-6, .features-slider, .services-block {
    border: 2px solid red;
}
.row, .container, .features-block, .services-img{
    border: 2px solid rgb(208, 255, 0);
}
.features-img {
    border: 2px solid green;
}*/